@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* リセットここまで */

body{
    background-color:#e8d9bf;
}
/* ヘッダー */
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.1% 0 2.91%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    z-index: 50;
}

.logo{
    width: 226.7px;
    
}

.pc_nav ul{
    display: flex;
}

.pc_nav li{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 104px;
    margin-right: 55px;

}
.pc_nav li:last-child{
    margin-right: 0;
}
.slider {
    margin: 0 auto;
    max-width: 100%;
}

.slider img{
    width: 100%;
}
/* ヘッダーここまで */
/* 序 */
.pp {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.p1 {
    font-size: 30px;
    padding: 112px 0 59px 0;

}

.hp1{
    font-size: 82px;
    padding: 24px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    display:inline-block;
    font-weight: normal;
}
.p2 {
    font-size: 23px;
    line-height: 1.65;
    padding: 33px 20px 80px 20px;
    letter-spacing: 0.1em;
}
.p2p{
    display: none;
}

/* ABOUT US 写真と文字横並び*/

.about_all{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
.coffee_img{
     border-bottom-right-radius: 100px;
}

.about-p img{
    max-width: 100%;
    align-self: flex-start;

}
.about_us_wrap {
    width: 50%;
    padding: 0 0 0 9%;
}
/* 左の画像↓ */
.block_sp{
    display: none;
}


.about_us_wrap h2{
    width: 65%;
    padding: 40px 0 40px 0;
}

.h3 {
    font-size: 44px;
    line-height: 1.38;
    padding-bottom: 33px;
}
.p4 {
    font-size: 16px;
    line-height: 1.62;
}


/* MENU メニューの下　画像横並び３つ コーヒー、麺、ケーキの順 */
.menu{
    max-width: 1000px;
    margin: 0 auto;
}
.menu_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;

    
}
.menu  h2{

    margin: 43px auto 43px auto;
    width: 151px;
    padding: 10px 10px;
}
.img3{
    max-width: 30%;
}
.img3 img {
    border-top-right-radius: 50px;
}
.img3 h3{
    font-size: 38px;
    color: #d30202;
    margin-top: -20px ;
    padding-left: 10px;
    font-weight: normal;

}
.img3 p{
    text-align: justify;
    margin-top:20px;
    line-height:1.47;
    font-size: 17px;
}

/* GALLERY 横並び画像５枚 */

.gallery h2{
    text-align: center;
    margin: 0 auto;
    width: 245.1846px;
    padding: 95px 0 25px 0;
    
}
.gallery_wrap{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}
.gallery_wrap img{
    width: 20%;
}
/* 矢印調整 */
.gallery_wrap .slick-next{
    right:40px!important;
  }
  .gallery_wrap .slick-prev{
    left:40px!important;
  }
  .gallery_wrap .slick-arrow{
    z-index:2!important;
  }

  .gallery_wrap .slick-prev:before, .slick-next:before {
      font-size: 40px;
  }
/* EVENT */
.event-top {
    margin: auto;
    max-width: 1000px;
    padding: 0 10px 0 10px;
}

.event-title {
    margin: 39px auto 39px auto;
    text-align: center;
    width: 173px;
}

.event-c {
    background-color: #fff;
    border: 3px solid #000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 30px 0;
}
.event-c li {
    line-height: 1.957;
    padding: 10px 0 0 160px;
    font-size: 23px;
}
.event-c br {
    display: none;
}
.event-t {
    border-bottom: 1px solid #4f260b;
    margin-left: 40px;
}

/* ACCESS MAP */
.access {
    text-align: center;
    margin: 0 auto;
    width: 213.8354px;
    padding: 60px 0 20px 0;
}

.map iframe{
    width: 100%;
    height: 400px;
}
/* フッター */
footer{
    background-color: #fff;
}
.footer-wrap{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 10px;
    text-align: justify;
    
}

.footer-p{
    padding-left: 69px ;
    line-height: 1.95 ;
    font-size: 20px;
    
}

.mark-c{
    text-align: center;
    margin: 0 auto;
    padding: 75px;
}
.toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 125px;
}
/* スマホメニュー消すハンバーガー消す */
.sp_btn{
    display: none;
}
.sp_nav{
    display: none;
}
.slick-dots{
    bottom: 15px;
}
.slick-dots li.slick-active button:before {
    color:white;}
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }
@media screen and (max-width: 1100px){
    .pc_nav{
        display: none;
    }
    .sp_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        height: 30px;
        cursor: pointer;
        z-index: 100;
    }
    .sp_btn span{
        width: 33px;
        height: 3px;
        background: #fff;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after{
        content: "";
        width: 33px;
        height: 3px;
        background: #fff;
        display: block;
        position: absolute;
        transition: 0.3s;
    }
    .sp_btn span::before{
        bottom: 10px;
    }
    .sp_btn span::after{
        top: 10px;
    }
    /*  */

    .open span{
        
        background: transparent;
       
    }
    .open span::before{
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after{
        top: 0px;
        transform: rotate(135deg);
    }
    /* スマホメニュー */
    .sp_nav{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: rgba(000, 000, 000, 0.8);
    }
    .sp_nav ul{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sp_nav ul li{
        padding: 20px 0 ;
        color: #fff;
        text-align: center;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }
  
}
@media screen and (max-width: 767px){
    /* header  */
    .header_wrap{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    /* 序 */
    .pp{
        max-width: 100%;
    }
    .p1{
        font-size: 4vw;
    }
    .hp1{
        font-size: 8.5vw;
    }
    .p2{
        font-size: 4.9vw;
        line-height: 1.875;
        text-align: center;
        margin:  auto;
    }
    .p2 .p2br{display: none;}

    /* about */
    .about_all {
        display: block;
        margin: 0 auto;
        padding: 0%;
    }
    .about_all .coffee_img {
        width: 100%;
        padding: 20px 0;
        border-bottom-right-radius: 0;

    }
    .block_sp{
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 40vw;
        margin-bottom: 15px;

    }
    .about_us_wrap{
        width: 100%;
        box-sizing: border-box;
    }
    .about_us_wrap h2 {
        display: none;
    }
   .coffee_img{
       max-width: 100%;
   }
   .h3 {
       font-size: 8vw;
       font-weight: normal;
       text-align: left;
       width: 600px;
   }
   .p4{
       font-size: 3.75vw;
     display: inline-block;
     text-align: left;
     margin: 0 15% 0 0;


   }
    /* menu */
    .menu{
        width: 87.8408px;
    }
    .menu_wrap{
        display: block;
        padding: 40px;
        text-align:center;
    
    }
    .img3{
        max-width: 100%;
        padding: 30px 0;
        margin: 0 ;
        display: inline-block;
        text-align: left;
    }
.img3 h3{
  font-size: 10.5vw;
}
.img3 p{
    width:78.5vw;
    margin: 0 ;
    font-size: 4.5vw;
    padding: 30px 0;
}
    /* ギャラリー */
    .gallery{
        width: 142.2676 px;
    }
    .gallery h2{
        padding: 0 0 25px 0;
    }



    


    /* イベント */
    .event-title{
        width: 100.8613 px;
    }
    .event-c li{
        font-size: 4.5vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px 0 0 20px;
    }
    .event-c br{
        display: block;
    }
    .event-t{
        margin-left: 0;
    }

    /* アクセス */
    .access{
        width: 124.0762 px;
    }

    /* ページトップ */
    .toTop{
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 100px;
    }


    /* フッター */
    .footer-wrap{
    flex-direction: column;
    width: auto;
    
    }
    .footer-p{
        padding-left: 0px ;
        line-height: 1.95 ;
        font-size: 5vw;
    }
    .logo{
        width: 65vw;
        
    }

   
}
